
h1 {
	color: white;
	font: "Times New Roman", serif;
	text-align: center;
}

p {
	color: black;
	font: "Times New Roman", serif;
}

img {
	border: 3px;
	width: 45%;
	align-content: center;

}

body {
	background: blue;
}
