
h1 {
	color: white;
	font: "Times New Roman", serif;
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	color: black;
	font: "Times New Roman", serif;
	text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

body {
	background-color: lightblue;
}

.menu-wrap {
	float: right;
	font-family: "Georgia", serif; 
} 

.menu-wrap li {
	display: inline; 
	border: 2px; 
	border-style: solid; 
	border-color: black; 
	margin: 5px; 
}

.menu-wrap a {
	color: black; 
} 
